@keyframes scaleAnimation {
    0% {
        transform: scale(1); /* Échelle normale */
    }
    10% {
        transform: scale(1.05); /* Agrandir légèrement */
    }
    20% {
        transform: scale(1); /* Retour à l'échelle normale */
    }
    100% {
        transform: scale(1); /* Maintien de l'échelle normale */
    }
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

header p{
    margin: 0;
    margin-top: 14px;
}

#header_left{
    margin-left: 20px;
    font-size: 20px;
    color: #bbb;
    font-weight: 700;
}

#header_right{
    margin-right: 20px;
    color: white;
    display: flex;
    justify-content: right;
    right: 0;
}

#header_right a{
    text-decoration: none;
    margin: 0;
    margin-top: 18px;
    margin-right: 12px;
    height: fit-content;
}

a{
    color: #bbb;
}
body{
    margin: 0;
    font-family: "Roboto", serif;
    line-height: 1.5;
    background-color: #111;
}
#part_1{
    display: flex;
    width: 80%;
    background-color: #111;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
h2{
    text-align: center;
    text-decoration: underline;
}
.right{
    float: right;
}
#description{
    border-radius: 10px;    
    margin: 16px;
}
#description p{
    text-indent: 40px;
}
#description iframe{
    margin-top: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}
#img_container button{
    position: absolute;
    right: 300px;
    top: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    display: none;
    background-image: url(assets/croix.svg);
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    cursor: pointer;
    transition: all 0.2s;
}
#img_container button:hover{
    transform: scale(1.05);
}
#img_container{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px;
}
#img_container img:not(#img_selected){
    width: 30%;
    margin: 0;
    border-radius: 10px;
    transition: all 0.2s;
}
#tags{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-self: center;
}
#tags p{
    margin: 0;
    padding: 0;
    display: inline-flex;
}
#acheter img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: relative;
    top: -150px;
}
#acheter{
    width: 300px;
    height: 460px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #333;
    margin-top: 16px;
}
#acheter *:not(img){
    margin: 10px;
}
#acheter_desc{
    top: -150px;
    position: relative;
}
table{
    display: flex;
    justify-content: center;
    border-spacing: 20px 0;
}
th{
    text-align: center;
}
#join{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: blue;
    transition: all 0.2s;
    display: inline-block;
    position: relative;
    top: -20px;
    animation: scaleAnimation 4s infinite;
}
#join:hover{
    filter: brightness(0.9);
}
#gris{
    color: #888;
}
#pics{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
#pics img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
#pics img:hover{
    transform: scale(1.05);
    transition: none;
}
#img_selected{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    height: 300px;
    cursor: zoom-in;
    width: 300px;
    border-radius: 20px;
    transition: all 0.2s;
}
#right_blocks{
    margin-top: 32px;
}
#vid_background{
    position: fixed;
    width: 110vw;
    transform: scale(1.2);
    height: 100vh;
    z-index: -1;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    filter: blur(8px) brightness(50%);
}
#p_part1{
    color: white;
    width: 60%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    margin-top: 0;
}
iframe{
    margin: 0;
    padding: 0;
}
#admin img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
#admin{
    width: 300px;
    height: 395px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-top: 64px;
    border: 1px solid #333;
}
#admin *:not(img){
    margin: 10px;
}

#contact{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: red;
    transition: all 0.2s;
    display: inline-block;
    position: relative;
    top: -10px;
    animation: scaleAnimation 4s infinite;
}

#part_vids{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-left: 16px;
}

#avis{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    gap: 30px;
    color: white;
    width: 80%;
    text-align: justify;
    margin-bottom: 20px;
}

#avis div{
    width: 40%;
    height: fit-content;
    background-color: #222;
    border-radius: 5px;
    padding-left: 20px; padding-right: 20px;
    margin: 0;
}

.p_nom{
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
}

#avis_h2{
    margin-top: 40px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

#h_contact{
    position: absolute;
}

#h_contact::before{
    content: '';
    background-color: #bbb;
    width: 0px;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all 0.2s;
}

#h_contact:hover::before{
    width: 100px;
}
